body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.topDiv {
    background-color: #DC6B2C;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.bottomDiv {
    background-color: #ffffff;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.team-member, .team-member-reverse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.team-member img, .team-member-reverse img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member .member-info, .team-member-reverse .member-info {
    max-width: 600px;
}

.team-image {
    width: 150px;
    height: 150;
}

.team-member .member-info {
    max-width: 600px;
}

.team-member h2 {
    margin: 0;
}

.team-member-reverse .member-info{
    flex-direction: row-reverse;
}

.team-member-reverse img {
    margin-right: 0;
    margin-left: 20px;
}
