body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.title{
    font:bold;
    margin-left:40px;
    margin-top:-60px;
    color: black;
}
.mainContainer{
    float:left;
    float:top;
}
.searchForm{
    margin-left:40px;
    max-width: 400px;
    min-width: 200px;
}
.table{
    margin-top: 40px;
    margin-left: 40px;
    width:1600px;
}
.tr{
    line-height: 100px !important;
    min-height: 100px !important; 
    height: 100px !important;
}
.cell{
    vertical-align:middle;
}
.hidden{
    border: none;
    visibility: hidden;
}
.taskButton{
    border:none;
    display: inline-flex;
    top:10px;
}
.modalSubTitle{
    float:bottom;
}