.forgot-password-link {
    display: block;
    margin-top: 1rem;
    color: #E78252;
    text-decoration: none;
    width: 100%;
    text-align: right;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
