/*NavBar.css*/
body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.base{
    width:100%;
    background-color: #FDDC87;
    height:75px;
    padding-top: 17.5px;
    padding-left: 30px;
}
.pageTitle{
    color: black;
    font:bold;
    text-decoration: none;
}
.pageTitle:hover{
    text-decoration: underline;
}
.accountSettingsLink{
    color: black;
    font:bold;
    text-decoration: none;
    float:right;
}
.accountSettingsLink:hover{
    text-decoration: underline;
}
.linkBtn {
    border:none;
    text-justify:center;
    position:relative;
    right:20px !important;
    bottom:47.5px !important;
    float:right;
    width:130px !important;
    height:35px !important;
    background-color:#DC6B2C;
    color:#ffffff;
    margin-right:30px !important;
    cursor:pointer;
    border-radius:7.5px !important;
    font-size: 14px !important;
}
