.topNavBar{
    background-color: #FDDC87 !important;
    min-height: 100px;
    padding-bottom: 15px;
}
.pageTitle{
    margin-left:30px !important;
    font-size: 30px !important;
    color: black;
    text-decoration: none;
}
.linkText{
    font-size: 20px !important;
    padding-top: 17px;
}
.linkText:hover{
    text-decoration: underline !important;
}
.linkBtn {
    padding: auto;
    border:none;
    text-justify:center;
    text-align: center !important;
    width:130px !important;
    background-color:#DC6B2C;
    color:#ffffff;
    cursor:pointer;
    border-radius:7.5px !important;
    font-size: 14px !important;
}
.linkBtn:hover{
    color:white;
}
.nav-item{
    margin-left: 30px;
}
.navbar-nav{
    display: flex;
    width: 50%;
}
.linkList{
    justify-content: flex-end;
    padding-right:20px;
}