.registerComponent{
    padding:40px 0;
    margin:0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.registerTitle{
    padding-bottom: 20px;
    font:bold;
    font-size:x-large;
}
.registerFormContainer{
    padding-right:50%
}
.registerFormGroup{
    text-align:left;
}
.registerForm{
    width:600px;
    height:60px;
    border-radius:6px;
    border-color:#E0E0E0;
    border-style:inset;
    border-width:thin;
    margin-top:10px;
    padding-left:5px;
}
.formTitle{
    text-align: left;
    font-size:medium;
    padding-left: 725px;
    margin-top: 30px
}
.registerButton{
    border:none;
    text-justify:center;
    padding:0 40px;
    height:55px;
    background-color:#DC6B2C;
    color:#ffffff;
    cursor:pointer;
    border-radius:7.5px;
}
.formDescription{
    font-style: italic;
}
